HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=
GG_AUDIENCE=690316576713-kt4584n5g77usrrh7hv6f4keedrq7202.apps.googleusercontent.com
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
